---
title: Standards Catalogue
weight: 90
dateAdded: 2020-12-16
dateUpdated: 2020-12-16
---

# Data Standards

## Description:
The Data Standards Catalogue currently contains the following Standards:

<div style = "overflow-x:auto;">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Classification</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% current_resource.children.reject{|page| page.data.exclude_from_list}.sort_by{ |page| get_link_text(page).downcase }.each do |f| %>
      <% if f.content_type.include? "html" %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= link_to get_link_text(f), f.path.delete_prefix("standards/") %> </td>
              <td class="govuk-table__cell"><%= f.data.classification %> </td>
              <td class="govuk-table__cell"><%= display_status(f.data.status) %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

## External Standards Catalogues

We also have a list of [external standards catalogues](/standards/external-standards.html).
