<% wrap_layout :layout do %>

  <div style = "overflow-x:auto;">
    <table style="width:100%">
      <% current_page.data.each do |f, g| %>
        <tr>
          <td nowrap><%= f %>: </td>
          <td nowrap><strong><%= g %></strong> </td>
        </tr>
      <% end %>
    </table>
  </div>

<%= yield %>

<% end %>