---
title: Taxonomies
weight: 700
dateAdded: 2022-03-17
dateUpdated: 2022-03-18
---

# Taxonomies

## Description:

A taxonomy is a way of naming and classifying terms to make them fit into category groups, according to the similarities and differences between the terms.

The groups they fit into form part of a larger system of groups, which altogether make a structure of terms that all relate to each other.

Taxonomies are useful for discussing and deciding how terms are related, which can help us more easily retrieve and analyse datasets. Common adoption of the taxonomies in this repository will support data sharing across government.

The data taxonomies listed here are either currently being assessed (In review) or have been endorsed (Endorsed) by the Data Standards Authority as suitable to be used across government.

The Taxonomy Catalogue currently contains the following taxonomies:

<div style = "overflow-x:auto;">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% current_resource.children.reject{|page| page.data.exclude_from_list}.sort_by{ |page| get_link_text(page).downcase }.each do |f| %>
      <% if f.content_type.include? "html" %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= link_to get_link_text(f), f.path.delete_prefix("taxonomies/") %> </td>
              <td class="govuk-table__cell"><%= display_status(:taxonomies, f.data.status) %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
